@define-color base            rgba(0, 0, 0, 1.0);
@define-color text            #ffffff;
@define-color green           #78A083;
@define-color blue            #76ABAE;
@define-color red             #C94C4C;
@define-color yellow          #E5C07B;
@define-color orange          #D08770;
@define-color purple          #B48EAD;
@define-color pink            #bf5f75;

* {
  font-weight: bold;
  font-size: 14px;
  font-family: "Source Code Pro";
}

window#waybar {
  background: transparent;
}

.modules-right {
  padding-right: 10px;
}

.modules-left {
}

.modules-left {
  padding-left: 10px;
}

#workspaces {
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  padding-right: 10px;
  background: @base;
}

#workspaces button {
  box-shadow: none;
  padding-left: 3px;
  padding-right: 3px;
  color: @orange;
}

#workspaces button.empty {
  box-shadow: none;
  text-shadow: none;
  color: @purple;
}

#workspaces button.active {
  box-shadow: none;
  text-shadow: none;
  color: @red;
}

#tray {
  margin-right: 10px;
}

#network {
  color: @purple;
}

#clock {
  color: @purple;
  background: @base;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 12px;
}

#network {
  padding-left: 10px;
  padding-right: 5px;
  font-size: 17px;
  background: @base;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

#battery {
  padding-left: 10px;
  background: @base;
}

#pulseaudio {
  color: @yellow;
  padding-left: 10px;
  background: @base;
}

#battery.plugged {
  color: @green;
}

#battery.three-quarters {
  color: @green;
}

#battery.full {
  color: @green;
}

#battery.critical {
  color: @red;
}

#battery.half {
  color: @yellow;
}

#battery.warning {
  color: @orange;
}

#battery.charging {
  color: @green;
}

#cpu {
  color: @purple;
  padding-left: 10px;
  background: @base;
}

/* #custom-gpu { */
/*   color: @pink; */
/* } */
/**/
/* #custom-gpu-icon { */
/*   color: @pink; */
/*   margin-left: 10px; */
/*   margin-right: 10px; */
/*   font-size: 22px; */
/* } */
/**/
#memory {
  color: @orange;
  padding-left: 10px;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  background: @base;
}
#temperature {
  color: @blue;
  padding-left: 10px;
  background: @base;
}

#custom-emoji {
  font-size: 15px;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  background: @base;
  padding-right: 5px;
  padding-left: 10px;
}

#window {
  color: @green;
}
